# Logs
*.log

# Build folders
target/
bin/
build/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot configs (IMPORTANT)
application*.yml
application*.properties

# IDE - STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db